# MAC
.DS_Store

# Libraries
mediapipe/

# Cache
__pycache__/
*/.ipynb_checkpoints

# SensorTile Firmware working directory
*/STM32CubeFunctionPack_ALLMEMS1_V3.1.0

# Renders
renders/

# Virtual Environments
.venv_analysis/
.venv_synth/
venv/