# MAC
.DS_Store

# Libraries
mediapipe/

# Temp files
~*

# Cache
__pycache__/
*/.ipynb_checkpoints

# SensorTile Firmware working directory
*/firmwares

# Renders
renders/

# Virtual Environments
.venv_analysis/
.venv_synth/
venv/